@let compendium = compendium$();
@let fusionChart = fusionChart$();
@let currentDemon = currentDemon$();
@let fusionPairs = fusionPairs$();
<app-fusion-pair-table
  [lang]="lang"
  [title]="currentDemon + (msgs.Title | translateComp:lang)"
  [leftHeader]="msgs.LeftHeader | translateComp:lang"
  [rightHeader]="msgs.RightHeader | translateComp:lang"
  [leftBaseUrl]="'../..'"
  [rightBaseUrl]="hasFusionToPersonas ? '../../personas' : '../..'"
  [getNotes]="getNotes$()"
  [raceOrder]="fusionChart.raceOrder"
  [rowData]="fusionPairs"
  [inGameCurrencySymbol]="compendium.inGameCurrencySymbol">
</app-fusion-pair-table>
