.smt3 div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.smt3 div.element-icon.phy { background-image: url('/assets/images/smtsj/phy.png'); }
.smt3 div.element-icon.fir { background-image: url('/assets/images/smtsj/fir.png'); }
.smt3 div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.smt3 div.element-icon.ele { background-image: url('/assets/images/smtsj/ele.png'); }
.smt3 div.element-icon.for { background-image: url('/assets/images/smt4f/force.png'); }
.smt3 div.element-icon.cur { background-image: url('/assets/images/smt4f/poison.png'); }
.smt3 div.element-icon.ner { background-image: url('/assets/images/smt4f/bind.png'); }
.smt3 div.element-icon.min { background-image: url('/assets/images/smt4f/panic.png'); }
.smt3 div.element-icon.exp { background-image: url('/assets/images/smtsj/exp.png'); }
.smt3 div.element-icon.dea { background-image: url('/assets/images/smtsj/cur.png'); }
.smt3 div.element-icon.alm { background-image: url('/assets/images/smtsj/alm.png'); }
.smt3 div.element-icon.rec { background-image: url('/assets/images/smtsj/rec.png'); }
.smt3 div.element-icon.sup { background-image: url('/assets/images/smtsj/sup.png'); }
.smt3 div.element-icon.spe { background-image: url('/assets/images/smtsj/spe.png'); }
.smt3 div.element-icon.pas { background-image: url('/assets/images/smtsj/pas.png'); }
.smt3 div.element-icon.tal { background-image: url('/assets/images/smtsj/spe.png'); }

.smt3 div.element-icon.thrust,
.smt3 div.element-icon.claw,
.smt3 div.element-icon.bite,
.smt3 div.element-icon.weapon,
.smt3 div.element-icon.mouth,
.smt3 div.element-icon.wings,
.smt3 div.element-icon.eye,
.smt3 div.element-icon.talk,
.smt3 div.element-icon.maiden {
  color: white;
}

.smt3 th.title, .smt3 th.nav.active, .smt3 th.nav.active a {
  color: white;
  background-color: #3b3a62;
}
