.dx2 div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.dx2 div.element-icon.phy { background-image: url('/assets/images/smtsj/phy.png'); }
.dx2 div.element-icon.fir { background-image: url('/assets/images/smtsj/fir.png'); }
.dx2 div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.dx2 div.element-icon.ele { background-image: url('/assets/images/smtsj/ele.png'); }
.dx2 div.element-icon.for { background-image: url('/assets/images/smtsj/win.png'); }
.dx2 div.element-icon.lig { background-image: url('/assets/images/smtsj/exp.png'); }
.dx2 div.element-icon.dar { background-image: url('/assets/images/smtsj/cur.png'); }
.dx2 div.element-icon.ail { background-image: url('/assets/images/smtsj/ail.png'); }
.dx2 div.element-icon.rec { background-image: url('/assets/images/smtsj/rec.png'); }
.dx2 div.element-icon.alm { background-image: url('/assets/images/smtsj/alm.png'); }
.dx2 div.element-icon.sup { background-image: url('/assets/images/smtsj/sup.png'); }
.dx2 div.element-icon.pas { background-image: url('/assets/images/smtsj/pas.png'); }

.dx2 tr.fusion-color td.price:after {
  content: "★";
}

.dx2 th.title, .dx2 th.nav.active, .dx2 th.nav.active a {
  color: white;
  background-color: #9d19bb;
}

.dx2 td.lvl3365, .dx2 td.lvl3965 {
  color: red;
}

.dx2 td.lvl3380, .dx2 td.lvl3980 {
  color: orange;
}

.dx2 td.lvl3389, .dx2 td.lvl3989 {
  color: magenta;
}

.dx2 td.lvl3369, .dx2 td.lvl3969 {
  color: cyan;
}
