/* SMT NES Series */
.devilsum div.element-icon, .smtnes div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.smtnes div.element-icon.sword { background-image: url('/assets/images/smt4f/sword.png'); }
.smtnes div.element-icon.gun { background-image: url('/assets/images/smtsj/gun.png'); }
.smtnes div.element-icon.fire { background-image: url('/assets/images/smtsj/fir.png'); }
.smtnes div.element-icon.i4 { background-image: url('/assets/images/smtsj/fir.png'); }
.smtnes div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.smtnes div.element-icon.i5 { background-image: url('/assets/images/smtsj/ice.png'); }
.smtnes div.element-icon.elec { background-image: url('/assets/images/smtsj/ele.png'); }
.smtnes div.element-icon.i6 { background-image: url('/assets/images/smtsj/ele.png'); }
.smtnes div.element-icon.force { background-image: url('/assets/images/smtsj/win.png'); }
.smtnes div.element-icon.i7 { background-image: url('/assets/images/smtsj/win.png'); }
.smtnes div.element-icon.nerve { background-image: url('/assets/images/smt4f/panic.png'); }
.smtnes div.element-icon.almighty { background-image: url('/assets/images/smtsj/alm.png'); }
.smtnes div.element-icon.i13 { background-image: url('/assets/images/smtsj/alm.png'); }
.smtnes div.element-icon.expel { background-image: url('/assets/images/smtsj/exp.png'); }
.smtnes div.element-icon.i8 { background-image: url('/assets/images/smtsj/exp.png'); }
.smtnes div.element-icon.death { background-image: url('/assets/images/smtsj/cur.png'); }
.smtnes div.element-icon.i9 { background-image: url('/assets/images/smtsj/cur.png'); }
.smtnes div.element-icon.curse { background-image: url('/assets/images/smt4f/poison.png'); }
.smtnes div.element-icon.bind { background-image: url('/assets/images/smt4f/bind.png'); }
.smtnes div.element-icon.rush { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.punch { background-image: url('/assets/images/smt4f/sword.png'); }
.smtnes div.element-icon.kick { background-image: url('/assets/images/smtsj/gun.png'); }
.smtnes div.element-icon.flying { background-image: url('/assets/images/smt4f/gun.png'); }

.smtnes div.element-icon.energy { background-image: url('/assets/images/smtsj/alm.png'); }
.smtnes div.element-icon.recovery { background-image: url('/assets/images/smtsj/rec.png'); }
.smtnes div.element-icon.support { background-image: url('/assets/images/smtsj/sup.png'); }
.smtnes div.element-icon.special { background-image: url('/assets/images/smtsj/spe.png'); }

.smtnes div.element-icon.attack { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.tech { background-image: url('/assets/images/smt4f/gun.png'); }

.smtnes div.element-icon.slash { background-image: url('/assets/images/smt4f/sword.png'); }
.smtnes div.element-icon.charge { background-image: url('/assets/images/smt4f/gun.png'); }
.smtnes div.element-icon.blunt { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.handgun { background-image: url('/assets/images/smtsj/gun.png'); }
.smtnes div.element-icon.penetrate { background-image: url('/assets/images/smt4f/gun.png'); }
.smtnes div.element-icon.spread { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.mystic { background-image: url('/assets/images/smt4f/poison.png'); }
.smtnes div.element-icon.mind { background-image: url('/assets/images/smt4f/bind.png'); }
.smtnes div.element-icon.suicide { background-image: url('/assets/images/smtsj/alm.png'); }
.smtnes div.element-icon.passive { background-image: url('/assets/images/smtsj/pas.png'); }
.smtnes div.element-icon.defend { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.phys { background-image: url('/assets/images/smtsj/phy.png'); }

/* Majin Tensei Series */
.smtnes div.element-icon.gro { background-image: url('/assets/images/smt4f/sword.png'); }
.smtnes div.element-icon.air { background-image: url('/assets/images/smt4f/gun.png'); }
.smtnes div.element-icon.fir { background-image: url('/assets/images/smtsj/fir.png'); }
.smtnes div.element-icon.ele { background-image: url('/assets/images/smtsj/ele.png'); }
.smtnes div.element-icon.for { background-image: url('/assets/images/smtsj/win.png'); }
.smtnes div.element-icon.gig { background-image: url('/assets/images/smt4f/bind.png'); }
.smtnes div.element-icon.alm { background-image: url('/assets/images/smtsj/alm.png'); }
.smtnes div.element-icon.lig { background-image: url('/assets/images/smtsj/exp.png'); }
.smtnes div.element-icon.dar { background-image: url('/assets/images/smtsj/cur.png'); }

.smtnes div.element-icon.phy { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.ail { background-image: url('/assets/images/smtsj/ail.png'); }
.smtnes div.element-icon.rec { background-image: url('/assets/images/smtsj/rec.png'); }
.smtnes div.element-icon.sup { background-image: url('/assets/images/smtsj/sup.png'); }

/* Devil Summoner Series */
.smtnes div.element-icon.psy { background-image: url('/assets/images/smt4f/panic.png'); }
.smtnes div.element-icon.spear { background-image: url('/assets/images/smt4f/gun.png'); }
.smtnes div.element-icon.thrown { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.ailment { background-image: url('/assets/images/smtsj/ail.png'); }
.smtnes div.element-icon.quad { background-image: url('/assets/images/smt4f/curse.png'); }
.smtnes div.element-icon.elem { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.none { background-image: url('/assets/images/smtsj/spe.png'); }

.smtnes div.element-icon.strike { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.i0 { background-image: url('/assets/images/smtsj/phy.png'); }
.smtnes div.element-icon.skill { background-image: url('/assets/images/smt4f/gun.png'); }
.smtnes div.element-icon.temp { background-image: url('/assets/images/smt4f/smirk.png'); }
.smtnes div.element-icon.i17 { background-image: url('/assets/images/smt4f/smirk.png'); }
.smtnes div.element-icon.dark { background-image: url('/assets/images/smt4f/curse.png'); }
.smtnes div.element-icon.i18 { background-image: url('/assets/images/smt4f/curse.png'); }
.smtnes div.element-icon.witch { background-image: url('/assets/images/smtsj/ail.png'); }
.smtnes div.element-icon.i19 { background-image: url('/assets/images/smtsj/ail.png'); }
.smtnes div.element-icon.rea { background-image: url('/assets/images/smtsj/rec.png'); }
.smtnes div.element-icon.i20 { background-image: url('/assets/images/smtsj/rec.png'); }
.smtnes div.element-icon.reb { background-image: url('/assets/images/smtsj/sup.png'); }
.smtnes div.element-icon.i21 { background-image: url('/assets/images/smtsj/sup.png'); }
.smtnes div.element-icon.element { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.hero { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.i22 { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.i23 { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.i24 { background-image: url('/assets/images/smtsj/spe.png'); }

/* Shin Megami Tensei NINE */
.smtnes div.element-icon.starter { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.autorec { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.phase { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.explore { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.area { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.plugin { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.self { background-image: url('/assets/images/smtsj/spe.png'); }
.smtnes div.element-icon.universe { background-image: url('/assets/images/smtsj/spe.png'); }

/* Alignments */
.smtnes td.align.ll, .smtnes td.align.nl, .smtnes td.align.dl { color: cyan; }
.smtnes td.align.lc, .smtnes td.align.nc, .smtnes td.align.dc { color: tomato; }
.smtnes td.align.el { color: lime; }
.smtnes td.align.ec { color: gold; }

/* Shin Megami Tensei */
.smt1 th.title, .smt1 th.nav.active, .smt1 th.nav.active a { background-color: #608341; color: white; }

/* Shin Megami Tensei II */
.smt2 th.title, .smt2 th.nav.active, .smt2 th.nav.active a { background-color: #2f4f4f; color: white; }

/* Shin Megami Tensei If... */
.smtif th.title, .smtif th.nav.active, .smtif th.nav.active a { background-color: #8fbc8f; color: black; }

/* Shin Megami Tensei: Devil Summoner */
.dsum th.title, .dsum th.nav.active, .dsum th.nav.active a { background-color: #4372aa; color: white; }

/* Devil Summoner: Soul Hackers */
.dssh th.title, .dssh th.nav.active, .dssh th.nav.active a { background-color: #302878; color: white; }

/* Majin Tensei II: Spiral Nemesis */
.mjn2 th.title, .mjn2 th.nav.active, .mjn2 th.nav.active a { background-color: #514f7e; color: white; }

/* Shin Megami Tensei NINE */
.smt9 th.title, .smt9 th.nav.active, .smt9 th.nav.active a { background-color: #693cbe; color: white; }

/* Shin Megami Tensei IMAGINE */
.smtim th.title, .smtim th.nav.active, .smtim th.nav.active a { background-color: #009d96; color: white; }
