.kuzu div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.kuzu div.element-icon.phy { background-image: url('/assets/images/smtsj/phy.png'); }
.kuzu div.element-icon.gun { background-image: url('/assets/images/smtsj/gun.png'); }
.kuzu div.element-icon.fir { background-image: url('/assets/images/smtsj/fir.png'); }
.kuzu div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.kuzu div.element-icon.ele { background-image: url('/assets/images/smtsj/ele.png'); }
.kuzu div.element-icon.for { background-image: url('/assets/images/smtsj/win.png'); }
.kuzu div.element-icon.dea { background-image: url('/assets/images/smtsj/cur.png'); }
.kuzu div.element-icon.min { background-image: url('/assets/images/smt4f/panic.png'); }
.kuzu div.element-icon.alm { background-image: url('/assets/images/smtsj/alm.png'); }
.kuzu div.element-icon.rec { background-image: url('/assets/images/smtsj/rec.png'); }
.kuzu div.element-icon.sup { background-image: url('/assets/images/smtsj/sup.png'); }
.kuzu div.element-icon.pas { background-image: url('/assets/images/smtsj/pas.png'); }
.kuzu div.element-icon.inv { background-image: url('/assets/images/smtsj/spe.png'); }
.kuzu div.element-icon.bos { background-image: url('/assets/images/smtsj/spe.png'); }

.kuzu div.element-icon.phys  { background-image: url('/assets/images/smtsj/phy.png'); }
.kuzu div.element-icon.fire  { background-image: url('/assets/images/smtsj/fir.png'); }
.kuzu div.element-icon.ice   { background-image: url('/assets/images/smtsj/ice.png'); }
.kuzu div.element-icon.elec  { background-image: url('/assets/images/smtsj/ele.png'); }
.kuzu div.element-icon.force { background-image: url('/assets/images/smtsj/win.png'); }
.kuzu div.element-icon.curse { background-image: url('/assets/images/smt4f/curse.png'); }
.kuzu div.element-icon.strike  { background-image: url('/assets/images/smtsj/phy.png'); }
.kuzu div.element-icon.almighty { background-image: url('/assets/images/smtsj/alm.png'); }
.kuzu div.element-icon.recovery { background-image: url('/assets/images/smtsj/rec.png'); }
.kuzu div.element-icon.support { background-image: url('/assets/images/smtsj/sup.png'); }
.kuzu div.element-icon.passive { background-image: url('/assets/images/smtsj/pas.png'); }
.kuzu div.element-icon.auto { background-image: url('/assets/images/smtsj/spe.png'); }
.kuzu div.element-icon.racial { background-image: url('/assets/images/smtsj/spe.png'); }
.kuzu div.element-icon.none { background-image: url('/assets/images/smtsj/spe.png'); }

/* Raidou Kuzunoha vs. The Soulless Army */
.krch th.title, .krch th.nav.active, .krch th.nav.active a { color: black; background-color: #856363; }

/* Raidou Kuzunoha vs. King Abaddon */
.krao th.title, .krao th.nav.active, .krao th.nav.active a { color: white; background-color: #8e283d; }

/* Majin Tensei */
.mjn1 th.title, .mjn1 th.nav.active, .mjn1 th.nav.active a { color: white; background-color: #004381; }

/* Devil Survivor */
.ds1 th.title, .ds1 th.nav.active, .ds1 th.nav.active a { color: white; background-color: #e83145; }

/* Devil Survivor 2 */
.ds2 th.title, .ds2 th.nav.active, .ds2 th.nav.active a { color: white; background-color: #0078e8; }
