/* Kyūyaku Megami Tensei */
.kmt div.element-icon.gun { background-image: url('/assets/images/elem-sprites.svg#gun'); }
.kmt div.element-icon.sword { background-image: url('/assets/images/elem-sprites.svg#swo'); }
.kmt div.element-icon.fire { background-image: url('/assets/images/elem-sprites.svg#fir'); }
.kmt div.element-icon.ice { background-image: url('/assets/images/elem-sprites.svg#ice'); }
.kmt div.element-icon.elec { background-image: url('/assets/images/elem-sprites.svg#ele'); }
.kmt div.element-icon.expel { background-image: url('/assets/images/elem-sprites.svg#lig'); }
.kmt div.element-icon.force { background-image: url('/assets/images/elem-sprites.svg#for'); }
.kmt div.element-icon.bind { background-image: url('/assets/images/elem-sprites.svg#paralyze'); }
.kmt div.element-icon.death { background-image: url('/assets/images/elem-sprites.svg#smt-dar'); }
.kmt div.element-icon.nerve { background-image: url('/assets/images/elem-sprites.svg#per-dar'); }
.kmt div.element-icon.mind { background-image: url('/assets/images/elem-sprites.svg#panic'); }
.kmt div.element-icon.almighty { background-image: url('/assets/images/elem-sprites.svg#smt-alm'); }

.kmt div.element-icon.recovery { background-image: url('/assets/images/elem-sprites.svg#smt-rec'); }
.kmt div.element-icon.support { background-image: url('/assets/images/elem-sprites.svg#smt-sup'); }
.kmt div.element-icon.special { background-image: url('/assets/images/elem-sprites.svg#smt-spe'); }

.kmt div.element-icon.i24 { background-image: url('/assets/images/elem-sprites.svg#smt-spe'); }

/* Alignments */
.kmt td.align.g { color: cyan; }
.kmt td.align.e { color: tomato; }

/* Fusion Chart */
td.elem, td.oran, td.redd, td.gree, td.blue { color: white !important; }

/* Kyūyaku Megami Tensei: Megami Tensei I */
.kmt1 th.title, .kmt1 th.nav.active, .kmt1 th.nav.active a { background-color: #008751; color: white; }
