/* Demon Compendium */
body {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
}

a {
  color: #66BBFF;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

/* Tables */
table {
  width: 100%;
  border-spacing: 0;
}

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
}

thead tr, tfoot tr {
  background-color: black;
}

thead th, tfoot th {
  color: black;
  background-color: white;
}

tbody tr:nth-child(even) td {
  background-color: #222;
}

th, td {
  border: solid 1px black;
  border-radius: 3.5px;
}

/* Table Sort Directions */
th.sortable {
  cursor: pointer;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: right;
}

th.sortable.none {
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///y9PT////yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
}

th.sortable.asc {
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///y9PT////yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==);
}

th.sortable.desc {
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///y9PT////yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
}

/* Comma-separated List */
ul.comma-list {
  padding: 0;
  list-style: none;
}

ul.comma-list li {
  display: inline;
}

/* Navbar */
th.nav {
  height: 2em;
  background-color: #394d5b;
}

th.nav div {
  display: table;
  width: 100%;
  height: 100%;
}

th.nav a {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

th.nav.active, th.nav:hover {
  background-color: white;
}

th.nav.active a, th.nav:hover a {
  color: black;
}

/* Resistances */
td.resists.fr { color: orange; }
td.resists.wk { color: red; }
td.resists.no { color: transparent; }
td.resists.rs { color: lightseagreen; }
td.resists.nu { color: lightgray; }
td.resists.rp { color: cyan; }
td.resists.ab { color: lime; }

/* Special Demon and Skill Rows */
tbody tr.special td {
  background-color: darkgreen;
}

tbody tr.exception td, tbody tr.unique td {
  background-color: maroon;
}
