.p3 div.element-icon {
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
  
.p3 div.element-icon.i28716,
.p3 div.element-icon.sla { background-image: url('/assets/images/p5/sword.png'); }
.p3 div.element-icon.i28717,
.p3 div.element-icon.str { background-image: url('/assets/images/p5/phys.png'); }
.p3 div.element-icon.i28718,
.p3 div.element-icon.pie { background-image: url('/assets/images/p5/gun.png'); }
.p3 div.element-icon.i30972,
.p3 div.element-icon.fir { background-image: url('/assets/images/p5/fire.png'); }
.p3 div.element-icon.i29948,
.p3 div.element-icon.ice { background-image: url('/assets/images/p5/ice.png'); }
.p3 div.element-icon.i29436,
.p3 div.element-icon.ele { background-image: url('/assets/images/p5/elec.png'); }
.p3 div.element-icon.i29180,
.p3 div.element-icon.win { background-image: url('/assets/images/p5/wind.png'); }
.p3 div.element-icon.i4012,
.p3 div.element-icon.lig { background-image: url('/assets/images/p5/bless.png'); }
.p3 div.element-icon.i32624,
.p3 div.element-icon.dar { background-image: url('/assets/images/p5/curse.png'); }
.p3 div.element-icon.i3956,
.p3 div.element-icon.ail { background-image: url('/assets/images/p5/ailment.png'); }
.p3 div.element-icon.i4093,
.p3 div.element-icon.rec { background-image: url('/assets/images/p5/healing.png'); }
.p3 div.element-icon.i32764,
.p3 div.element-icon.alm { background-image: url('/assets/images/p5/almighty.png'); }
.p3 div.element-icon.i4092,
.p3 div.element-icon.spa,
.p3 div.element-icon.spb,
.p3 div.element-icon.spe { background-image: url('/assets/images/p5/trait.png'); }
.p3 div.element-icon.sup { background-image: url('/assets/images/p5/support.png'); }
.p3 div.element-icon.pas { background-image: url('/assets/images/p5/passive.png'); }

.p3 th.title, .p3 th.nav.active, .p3 th.nav.active a {
  color: black;
  background-color: #4372AA;
}

.p4 div.element-icon {
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
  
.p4 div.element-icon.i2166,
.p4 div.element-icon.phy { background-image: url('/assets/images/p5/phys.png'); }
.p4 div.element-icon.i3582,
.p4 div.element-icon.fir { background-image: url('/assets/images/p5/fire.png'); }
.p4 div.element-icon.i3070,
.p4 div.element-icon.ice { background-image: url('/assets/images/p5/ice.png'); }
.p4 div.element-icon.i3966,
.p4 div.element-icon.ele { background-image: url('/assets/images/p5/elec.png'); }
.p4 div.element-icon.i3838,
.p4 div.element-icon.win { background-image: url('/assets/images/p5/wind.png'); }
.p4 div.element-icon.i2006,
.p4 div.element-icon.lig { background-image: url('/assets/images/p5/bless.png'); }
.p4 div.element-icon.i1978,
.p4 div.element-icon.dar { background-image: url('/assets/images/p5/curse.png'); }
.p4 div.element-icon.i1979,
.p4 div.element-icon.ail { background-image: url('/assets/images/p5/ailment.png'); }
.p4 div.element-icon.i2014,
.p4 div.element-icon.rec { background-image: url('/assets/images/p5/healing.png'); }
.p4 div.element-icon.i4094,
.p4 div.element-icon.alm { background-image: url('/assets/images/p5/almighty.png'); }
.p4 div.element-icon.spa { background-image: url('/assets/images/p5/trait.png'); }
.p4 div.element-icon.i4095,
.p4 div.element-icon.sup { background-image: url('/assets/images/p5/support.png'); }
.p4 div.element-icon.pas { background-image: url('/assets/images/p5/passive.png'); }

.p4 th.title, .p4 th.nav.active, .p4 th.nav.active a {
  color: black;
  background-color: #ffe600;
}
