.p3 div.element-icon {
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
  
.p3 div.element-icon.i4096,
.p3 div.element-icon.sla { background-image: url('/assets/images/p5/sword.png'); }
.p3 div.element-icon.i2048,
.p3 div.element-icon.str { background-image: url('/assets/images/p5/phys.png'); }
.p3 div.element-icon.i1024,
.p3 div.element-icon.pie { background-image: url('/assets/images/p5/gun.png'); }
.p3 div.element-icon.i512,
.p3 div.element-icon.fir { background-image: url('/assets/images/p5/fire.png'); }
.p3 div.element-icon.i256,
.p3 div.element-icon.ice { background-image: url('/assets/images/p5/ice.png'); }
.p3 div.element-icon.i128,
.p3 div.element-icon.ele { background-image: url('/assets/images/p5/elec.png'); }
.p3 div.element-icon.i64,
.p3 div.element-icon.win { background-image: url('/assets/images/p5/wind.png'); }
.p3 div.element-icon.i32,
.p3 div.element-icon.lig { background-image: url('/assets/images/p5/bless.png'); }
.p3 div.element-icon.i16,
.p3 div.element-icon.dar { background-image: url('/assets/images/p5/curse.png'); }
.p3 div.element-icon.i4,
.p3 div.element-icon.ail { background-image: url('/assets/images/p5/ailment.png'); }
.p3 div.element-icon.i3,
.p3 div.element-icon.rec { background-image: url('/assets/images/p5/healing.png'); }
.p3 div.element-icon.i0,
.p3 div.element-icon.alm { background-image: url('/assets/images/p5/almighty.png'); }
.p3 div.element-icon.i48,
.p3 div.element-icon.spe { background-image: url('/assets/images/p5/trait.png'); }
.p3 div.element-icon.sup { background-image: url('/assets/images/p5/support.png'); }
.p3 div.element-icon.pas { background-image: url('/assets/images/p5/passive.png'); }

.p3 th.title, .p3 th.nav.active, .p3 th.nav.active a {
  color: black;
  background-color: #4372AA;
}

.p4 div.element-icon {
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
  
.p4 div.element-icon.i1083,
.p4 div.element-icon.phy { background-image: url('/assets/images/p5/phys.png'); }
.p4 div.element-icon.i1791,
.p4 div.element-icon.fir { background-image: url('/assets/images/p5/fire.png'); }
.p4 div.element-icon.i1535,
.p4 div.element-icon.ice { background-image: url('/assets/images/p5/ice.png'); }
.p4 div.element-icon.i1983,
.p4 div.element-icon.ele { background-image: url('/assets/images/p5/elec.png'); }
.p4 div.element-icon.i1919,
.p4 div.element-icon.win { background-image: url('/assets/images/p5/wind.png'); }
.p4 div.element-icon.i1003,
.p4 div.element-icon.lig { background-image: url('/assets/images/p5/bless.png'); }
.p4 div.element-icon.i989,
.p4 div.element-icon.dar { background-image: url('/assets/images/p5/curse.png'); }
.p4 div.element-icon.ail { background-image: url('/assets/images/p5/ailment.png'); }
.p4 div.element-icon.i1007,
.p4 div.element-icon.rec { background-image: url('/assets/images/p5/healing.png'); }
.p4 div.element-icon.i2047,
.p4 div.element-icon.alm { background-image: url('/assets/images/p5/almighty.png'); }
.p3 div.element-icon.spe { background-image: url('/assets/images/p5/trait.png'); }
.p4 div.element-icon.sup { background-image: url('/assets/images/p5/support.png'); }
.p4 div.element-icon.pas { background-image: url('/assets/images/p5/passive.png'); }

.p4 th.title, .p4 th.nav.active, .p4 th.nav.active a {
  color: black;
  background-color: #ffe600;
}
