.p3 div.element-icon {
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
  
.p3 div.element-icon.slash { background-image: url('/assets/images/p5/sword.png'); }
.p3 div.element-icon.strike { background-image: url('/assets/images/p5/phys.png'); }
.p3 div.element-icon.pierce { background-image: url('/assets/images/p5/gun.png'); }
.p3 div.element-icon.fire { background-image: url('/assets/images/p5/fire.png'); }
.p3 div.element-icon.ice { background-image: url('/assets/images/p5/ice.png'); }
.p3 div.element-icon.elec { background-image: url('/assets/images/p5/elec.png'); }
.p3 div.element-icon.wind { background-image: url('/assets/images/p5/wind.png'); }
.p3 div.element-icon.light { background-image: url('/assets/images/p5/bless.png'); }
.p3 div.element-icon.dark { background-image: url('/assets/images/p5/curse.png'); }
.p3 div.element-icon.lidark { background-image: url('/assets/images/p5/psy.png'); }
.p3 div.element-icon.ailment { background-image: url('/assets/images/p5/ailment.png'); }
.p3 div.element-icon.recovery { background-image: url('/assets/images/p5/healing.png'); }
.p3 div.element-icon.almighty { background-image: url('/assets/images/p5/almighty.png'); }
.p3 div.element-icon.all { background-image: url('/assets/images/p5/almighty.png'); }
.p3 div.element-icon.support { background-image: url('/assets/images/p5/support.png'); }
.p3 div.element-icon.special { background-image: url('/assets/images/p5/support.png'); }
.p3 div.element-icon.passive { background-image: url('/assets/images/p5/passive.png'); }

.p3 th, .p3 th {
  color: black;
  background-color: #4372AA;
}

.p3 th.sortable:hover {
  background-color: #65adff;
}

.p3 th.nav {
  color: white;
  cursor: pointer;
  background-color: #26405c;
}

.p3 th.nav.active, .p3 th.nav:hover {
  color: black;
  background-color: #4372AA;
}

.p3 th.nav.active a, .p3 th.nav:hover a {
  color: black;
}

.p4 div.element-icon {
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
  
.p4 div.element-icon.phys { background-image: url('/assets/images/p5/phys.png'); }
.p4 div.element-icon.fire { background-image: url('/assets/images/p5/fire.png'); }
.p4 div.element-icon.ice { background-image: url('/assets/images/p5/ice.png'); }
.p4 div.element-icon.elec { background-image: url('/assets/images/p5/elec.png'); }
.p4 div.element-icon.wind { background-image: url('/assets/images/p5/wind.png'); }
.p4 div.element-icon.light { background-image: url('/assets/images/p5/bless.png'); }
.p4 div.element-icon.dark { background-image: url('/assets/images/p5/curse.png'); }
.p4 div.element-icon.ailment { background-image: url('/assets/images/p5/ailment.png'); }
.p4 div.element-icon.recovery { background-image: url('/assets/images/p5/healing.png'); }
.p4 div.element-icon.almighty { background-image: url('/assets/images/p5/almighty.png'); }
.p4 div.element-icon.support { background-image: url('/assets/images/p5/support.png'); }
.p4 div.element-icon.special { background-image: url('/assets/images/p5/support.png'); }
.p4 div.element-icon.passive { background-image: url('/assets/images/p5/passive.png'); }

.p4 th, .p4 th {
  color: black;
  background-color: #FFE600;
}

.p4 th.sortable:hover {
  background-color: #fffbd6;
}

.p4 th.nav {
  color: white;
  cursor: pointer;
  background-color: #272300;
}

.p4 th.nav.active, .p4 th.nav:hover {
  color: black;
  background-color: #FFE600;
}

.p4 th.nav.active a, .p4 th.nav:hover a {
  color: black;
}
