.krao div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.krao div.element-icon.phys { background-image: url('/assets/images/smtsj/phy.png'); }
.krao div.element-icon.gun { background-image: url('/assets/images/smtsj/gun.png'); }
.krao div.element-icon.fire { background-image: url('/assets/images/smtsj/fir.png'); }
.krao div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.krao div.element-icon.elec { background-image: url('/assets/images/smtsj/ele.png'); }
.krao div.element-icon.force { background-image: url('/assets/images/smtsj/win.png'); }
.krao div.element-icon.death { background-image: url('/assets/images/smtsj/cur.png'); }
.krao div.element-icon.mind { background-image: url('/assets/images/smt4f/panic.png'); }
.krao div.element-icon.almighty { background-image: url('/assets/images/smtsj/alm.png'); }
.krao div.element-icon.recovery { background-image: url('/assets/images/smtsj/rec.png'); }
.krao div.element-icon.support { background-image: url('/assets/images/smtsj/sup.png'); }
.krao div.element-icon.passive { background-image: url('/assets/images/smtsj/pas.png'); }
.krao div.element-icon.investigate { background-image: url('/assets/images/smtsj/spe.png'); }
.krao div.element-icon.boss { background-image: url('/assets/images/smtsj/spe.png'); }

.krao th {
  background-color: #8e283d;
  color: white;
}

.krao th.sortable:hover {
  background-color: #e24063;
}

.krao th.nav {
  background-color: #521724;
}

.krao th.nav.active, .krao th.nav:hover {
  background-color: #8e283d;
}

.krao th.nav.active a, .krao th.nav:hover a {
  color: white;
}
