.p5s div.element-icon.phy,
.p5s div.element-icon.i3075 { background-image: url('/assets/images/elem-sprites.svg#phy'); }
.p5s div.element-icon.gun { background-image: url('/assets/images/elem-sprites.svg#gun'); }
.p5s div.element-icon.fir,
.p5s div.element-icon.i3839 { background-image: url('/assets/images/elem-sprites.svg#fir'); }
.p5s div.element-icon.ice,
.p5s div.element-icon.i3583 { background-image: url('/assets/images/elem-sprites.svg#ice'); }
.p5s div.element-icon.ele,
.p5s div.element-icon.i4031 { background-image: url('/assets/images/elem-sprites.svg#ele'); }
.p5s div.element-icon.win,
.p5s div.element-icon.i3967 { background-image: url('/assets/images/elem-sprites.svg#win'); }
.p5s div.element-icon.psy,
.p5s div.element-icon.i4079 { background-image: url('/assets/images/elem-sprites.svg#psy'); }
.p5s div.element-icon.nuk,
.p5s div.element-icon.i4063 { background-image: url('/assets/images/elem-sprites.svg#nuk'); }
.p5s div.element-icon.lig,
.p5s div.element-icon.i1017 { background-image: url('/assets/images/elem-sprites.svg#lig'); }
.p5s div.element-icon.dar,
.p5s div.element-icon.i1014 { background-image: url('/assets/images/elem-sprites.svg#dar'); }
.p5s div.element-icon.ail,
.p5s div.element-icon.i4086 { background-image: url('/assets/images/elem-sprites.svg#ail'); }
.p5s div.element-icon.rec,
.p5s div.element-icon.i1019 { background-image: url('/assets/images/elem-sprites.svg#rec'); }
.p5s div.element-icon.alm,
.p5s div.element-icon.i4095 { background-image: url('/assets/images/elem-sprites.svg#alm'); }
.p5s div.element-icon.sup { background-image: url('/assets/images/elem-sprites.svg#sup'); }
.p5s div.element-icon.pas,
.p5s div.element-icon.i0 { background-image: url('/assets/images/elem-sprites.svg#pas'); }

.p5s th.title, .p5s th.nav.active, .p5s th.nav.active a {
  color: white;
  background-color: #f41000;
}
