.p5s div.element-icon {
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
  
.p5s div.element-icon.phy { background-image: url('/assets/images/p5/phys.png'); }
.p5s div.element-icon.i3075 { background-image: url('/assets/images/p5/phys.png'); }
.p5s div.element-icon.gun { background-image: url('/assets/images/p5/gun.png'); }
.p5s div.element-icon.fir { background-image: url('/assets/images/p5/fire.png'); }
.p5s div.element-icon.i3839 { background-image: url('/assets/images/p5/fire.png'); }
.p5s div.element-icon.ice { background-image: url('/assets/images/p5/ice.png'); }
.p5s div.element-icon.i3583 { background-image: url('/assets/images/p5/ice.png'); }
.p5s div.element-icon.ele { background-image: url('/assets/images/p5/elec.png'); }
.p5s div.element-icon.i4031 { background-image: url('/assets/images/p5/elec.png'); }
.p5s div.element-icon.win { background-image: url('/assets/images/p5/wind.png'); }
.p5s div.element-icon.i3967 { background-image: url('/assets/images/p5/wind.png'); }
.p5s div.element-icon.psy { background-image: url('/assets/images/p5/psy.png'); }
.p5s div.element-icon.i4079 { background-image: url('/assets/images/p5/psy.png'); }
.p5s div.element-icon.nuk { background-image: url('/assets/images/p5/nuke.png'); }
.p5s div.element-icon.i4063 { background-image: url('/assets/images/p5/nuke.png'); }
.p5s div.element-icon.lig { background-image: url('/assets/images/p5/bless.png'); }
.p5s div.element-icon.i1017 { background-image: url('/assets/images/p5/bless.png'); }
.p5s div.element-icon.dar { background-image: url('/assets/images/p5/curse.png'); }
.p5s div.element-icon.i1014 { background-image: url('/assets/images/p5/curse.png'); }
.p5s div.element-icon.ail { background-image: url('/assets/images/p5/ailment.png'); }
.p5s div.element-icon.i4086 { background-image: url('/assets/images/p5/ailment.png'); }
.p5s div.element-icon.rec { background-image: url('/assets/images/p5/healing.png'); }
.p5s div.element-icon.i1019 { background-image: url('/assets/images/p5/healing.png'); }
.p5s div.element-icon.alm { background-image: url('/assets/images/p5/almighty.png'); }
.p5s div.element-icon.i4095 { background-image: url('/assets/images/p5/almighty.png'); }
.p5s div.element-icon.sup { background-image: url('/assets/images/p5/support.png'); }
.p5s div.element-icon.pas { background-image: url('/assets/images/p5/passive.png'); }
.p5s div.element-icon.i0 { background-image: url('/assets/images/p5/passive.png'); }

.p5s th.title, .p5s th.nav.active, .p5s th.nav.active a {
  color: white;
  background-color: #f41000;
}
