.smt4 div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.smt4 div.element-icon.phy { background-image: url('/assets/images/smtsj/phy.png'); }
.smt4 div.element-icon.gun { background-image: url('/assets/images/smt4f/gun.png'); }
.smt4 div.element-icon.fir { background-image: url('/assets/images/smtsj/fir.png'); }
.smt4 div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.smt4 div.element-icon.ele { background-image: url('/assets/images/smtsj/ele.png'); }
.smt4 div.element-icon.for { background-image: url('/assets/images/smt4f/force.png'); }
.smt4 div.element-icon.lig { background-image: url('/assets/images/smtsj/exp.png'); }
.smt4 div.element-icon.dar { background-image: url('/assets/images/smtsj/cur.png'); }
.smt4 div.element-icon.ail { background-image: url('/assets/images/smtsj/ail.png'); }
.smt4 div.element-icon.rec { background-image: url('/assets/images/smtsj/rec.png'); }
.smt4 div.element-icon.alm { background-image: url('/assets/images/smtsj/alm.png'); }
.smt4 div.element-icon.sup { background-image: url('/assets/images/smtsj/sup.png'); }
.smt4 div.element-icon.pas { background-image: url('/assets/images/smtsj/pas.png'); }
.smt4 div.element-icon.oth { background-image: url('/assets/images/smtsj/spe.png'); }
.smt4 div.element-icon.spe { background-image: url('/assets/images/smtsj/spe.png'); }
.smt4 div.element-icon.sab { background-image: url('/assets/images/smtsj/spe.png'); }
.smt4 div.element-icon.com { background-image: url('/assets/images/smtsj/sup.png'); }

.smt4 td.affinity-9 { color: red; }
.smt4 td.affinity-8 { color: red; }
.smt4 td.affinity-7 { color: orangered; }
.smt4 td.affinity-6 { color: tomato; }
.smt4 td.affinity-5 { color: coral; }
.smt4 td.affinity-4 { color: darkorange; }
.smt4 td.affinity-3 { color: orange; }
.smt4 td.affinity-2 { color: lightsalmon; }
.smt4 td.affinity-1 { color: gold; }
.smt4 td.affinity0 { color: transparent; }
.smt4 td.affinity1 { color: lawngreen; }
.smt4 td.affinity2 { color: lime; }
.smt4 td.affinity3 { color: springgreen; }
.smt4 td.affinity4 { color: mediumspringgreen; }
.smt4 td.affinity5 { color: limegreen; }
.smt4 td.affinity6 { color: mediumseagreen; }
.smt4 td.affinity7 { color: seagreen; }
.smt4 td.affinity8 { color: forestgreen; }
.smt4 td.affinity9 { color: forestgreen; }

.smt4f th.title, .smt4f th.nav.active, .smt4f th.nav.active a { background-color: white; color: black; }
.smt5 th.title, .smt5 th.nav.active, .smt5 th.nav.active a { background-color: #363361; color: white; }
.smt5 th.title, .smt5 th.nav.active, .smt5 th.nav.active a { background-color: #363361; color: white; }
.sh2 th.title, .sh2 th.nav.active, .sh2 th.nav.active a { background-color: #693cbe; color: white; }