.smt4 div.element-icon.thr,
.smt4 div.element-icon.phy { background-image: url('/assets/images/elem-sprites.svg#phy'); }
.smt4 div.element-icon.cla { background-image: url('/assets/images/elem-sprites.svg#gun'); }
.smt4 div.element-icon.bit { background-image: url('/assets/images/elem-sprites.svg#ear'); }
.smt4 div.element-icon.wea { background-image: url('/assets/images/elem-sprites.svg#swo'); }
.smt4 div.element-icon.mou { background-image: url('/assets/images/elem-sprites.svg#rus'); }
.smt4 div.element-icon.gun { background-image: url('/assets/images/elem-sprites.svg#gun'); }
.smt4 div.element-icon.fir { background-image: url('/assets/images/elem-sprites.svg#fir'); }
.smt4 div.element-icon.ice { background-image: url('/assets/images/elem-sprites.svg#ice'); }
.smt4 div.element-icon.ele { background-image: url('/assets/images/elem-sprites.svg#ele'); }
.smt4 div.element-icon.for { background-image: url('/assets/images/elem-sprites.svg#for'); }
.smt4 div.element-icon.win { background-image: url('/assets/images/elem-sprites.svg#win'); }
.smt4 div.element-icon.eye { background-image: url('/assets/images/elem-sprites.svg#per-dar'); }
.smt4 div.element-icon.exp,
.smt4 div.element-icon.lig { background-image: url('/assets/images/elem-sprites.svg#lig'); }
.smt4 div.element-icon.dea,
.smt4 div.element-icon.mys,
.smt4 div.element-icon.rui,
.smt4 div.element-icon.dar { background-image: url('/assets/images/elem-sprites.svg#smt-dar'); }
.smt4 div.element-icon.ail,
.smt4 div.element-icon.min { background-image: url('/assets/images/elem-sprites.svg#per-dar'); }
.smt4 div.element-icon.cur { background-image: url('/assets/images/elem-sprites.svg#poison'); }
.smt4 div.element-icon.ner { background-image: url('/assets/images/elem-sprites.svg#paralyze'); }
.smt4 div.element-icon.rec { background-image: url('/assets/images/elem-sprites.svg#smt-rec'); }
.smt4 div.element-icon.alp,
.smt4 div.element-icon.alm { background-image: url('/assets/images/elem-sprites.svg#smt-alm'); }
.smt4 div.element-icon.com,
.smt4 div.element-icon.sup { background-image: url('/assets/images/elem-sprites.svg#smt-sup'); }
.smt4 div.element-icon.pas { background-image: url('/assets/images/elem-sprites.svg#smt-pas'); }
.smt4 div.element-icon.sab { background-image: url('/assets/images/elem-sprites.svg#smt-sab'); }
.smt4 div.element-icon.aut,
.smt4 div.element-icon.rac,
.smt4 div.element-icon.inv,
.smt4 div.element-icon.tal,
.smt4 div.element-icon.inn { background-image: url('/assets/images/elem-sprites.svg#smt-inn'); }
.smt4 div.element-icon.oth,
.smt4 div.element-icon.non,
.smt4 div.element-icon.spe { background-image: url('/assets/images/elem-sprites.svg#smt-spe'); }
.smt4 div.element-icon.lif { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Ctext fill='violet' x='12' y='18' text-anchor='middle'%3EHP%3C/text%3E%3C/svg%3E"); }
.smt4 div.element-icon.man { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Ctext fill='cyan' x='12' y='18' text-anchor='middle'%3EMP%3C/text%3E%3C/svg%3E"); }
.smt4 div.element-icon.mai { background-image: url('/assets/images/elem-sprites.svg#whi'); }
.smt4 div.element-icon.non { background-image: none }

.smt4 td.affinity-9 { color: red; }
.smt4 td.affinity-8 { color: red; }
.smt4 td.affinity-7 { color: orangered; }
.smt4 td.affinity-6 { color: tomato; }
.smt4 td.affinity-5 { color: coral; }
.smt4 td.affinity-4 { color: darkorange; }
.smt4 td.affinity-3 { color: orange; }
.smt4 td.affinity-2 { color: lightsalmon; }
.smt4 td.affinity-1 { color: gold; }
.smt4 td.affinity0 { color: transparent; }
.smt4 td.affinity1 { color: lawngreen; }
.smt4 td.affinity2 { color: lime; }
.smt4 td.affinity3 { color: springgreen; }
.smt4 td.affinity4 { color: mediumspringgreen; }
.smt4 td.affinity5 { color: limegreen; }
.smt4 td.affinity6 { color: mediumseagreen; }
.smt4 td.affinity7 { color: seagreen; }
.smt4 td.affinity8 { color: forestgreen; }
.smt4 td.affinity9 { color: forestgreen; }

.smt4 .align-ll, .align-nl, .align-dl { color: cyan; }
.smt4 .align-lc, .align-nc, .align-dc { color: tomato; }
.smt4 .align-ll:after, .align-ln:after, .align-lc:after { content: "↑"; }
.smt4 .align-dl:after, .align-dn:after, .align-dc:after { content: "↓"; }

.smt3 th.title, .smt3 th.nav.active, .smt3 th.nav.active a { color: white; background-color: #3b3a62; }
.smtsj th.title, .smtsj th.nav.active, .smtsj th.nav.active a { color: white; background-color: #200470; }
.smt4f th.title, .smt4f th.nav.active, .smt4f th.nav.active a { background-color: white; color: black; }
.smt5 th.title, .smt5 th.nav.active, .smt5 th.nav.active a { background-color: #363361; color: white; }
.sh2 th.title, .sh2 th.nav.active, .sh2 th.nav.active a { background-color: #693cbe; color: white; }
.krch th.title, .krch th.nav.active, .krch th.nav.active a { color: black; background-color: #856363; }
.krao th.title, .krao th.nav.active, .krao th.nav.active a { color: white; background-color: #8e283d; }
.ds1 th.title, .ds1 th.nav.active, .ds1 th.nav.active a { color: white; background-color: #e83145; }
.dso th.title, .dso th.nav.active, .dso th.nav.active a { color: white; background-color: #e83145; }
.ds2 th.title, .ds2 th.nav.active, .ds2 th.nav.active a { color: white; background-color: #0078e8; }
