.smt4f div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.smt4f div.element-icon.phys { background-image: url('/assets/images/smtsj/phy.png'); }
.smt4f div.element-icon.gun { background-image: url('/assets/images/smt4f/gun.png'); }
.smt4f div.element-icon.fire { background-image: url('/assets/images/smtsj/fir.png'); }
.smt4f div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.smt4f div.element-icon.elec { background-image: url('/assets/images/smtsj/ele.png'); }
.smt4f div.element-icon.force { background-image: url('/assets/images/smt4f/force.png'); }
.smt4f div.element-icon.light { background-image: url('/assets/images/smtsj/exp.png'); }
.smt4f div.element-icon.dark { background-image: url('/assets/images/smtsj/cur.png'); }
.smt4f div.element-icon.ailment { background-image: url('/assets/images/smtsj/ail.png'); }
.smt4f div.element-icon.recovery { background-image: url('/assets/images/smtsj/rec.png'); }
.smt4f div.element-icon.almighty { background-image: url('/assets/images/smtsj/alm.png'); }
.smt4f div.element-icon.support { background-image: url('/assets/images/smtsj/sup.png'); }
.smt4f div.element-icon.passive { background-image: url('/assets/images/smtsj/pas.png'); }
.smt4f div.element-icon.other { background-image: url('/assets/images/smtsj/spe.png'); }

.smt4f td.affinity-9 { color: red; }
.smt4f td.affinity-8 { color: red; }
.smt4f td.affinity-7 { color: orangered; }
.smt4f td.affinity-6 { color: tomato; }
.smt4f td.affinity-5 { color: coral; }
.smt4f td.affinity-4 { color: darkorange; }
.smt4f td.affinity-3 { color: orange; }
.smt4f td.affinity-2 { color: lightsalmon; }
.smt4f td.affinity-1 { color: gold; }
.smt4f td.affinity0 { color: transparent; }
.smt4f td.affinity1 { color: lawngreen; }
.smt4f td.affinity2 { color: lime; }
.smt4f td.affinity3 { color: springgreen; }
.smt4f td.affinity4 { color: mediumspringgreen; }
.smt4f td.affinity5 { color: limegreen; }
.smt4f td.affinity6 { color: mediumseagreen; }
.smt4f td.affinity7 { color: seagreen; }
.smt4f td.affinity8 { color: forestgreen; }

.smt4f th {
  color: black;
  background-color: white;
}

.smt4f th.sortable:hover {
  background-color: #94ABBB;
}

.smt4f th.nav {
  color: white;
  background-color: #394d5b;
}

.smt4f th.nav.active, .smt4f th.nav:hover {
  color: black;
  background-color: white;
}

.smt4f th.nav.active a, .smt4f th.nav:hover a {
  color: black;
}
