.smtsj div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.smtsj div.element-icon.phy { background-image: url('/assets/images/smtsj/phy.png'); }
.smtsj div.element-icon.gun { background-image: url('/assets/images/smtsj/gun.png'); }
.smtsj div.element-icon.fir { background-image: url('/assets/images/smtsj/fir.png'); }
.smtsj div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.smtsj div.element-icon.ele { background-image: url('/assets/images/smtsj/ele.png'); }
.smtsj div.element-icon.win { background-image: url('/assets/images/smtsj/win.png'); }
.smtsj div.element-icon.exp { background-image: url('/assets/images/smtsj/exp.png'); }
.smtsj div.element-icon.cur { background-image: url('/assets/images/smtsj/cur.png'); }
.smtsj div.element-icon.ail { background-image: url('/assets/images/smtsj/ail.png'); }
.smtsj div.element-icon.rec { background-image: url('/assets/images/smtsj/rec.png'); }
.smtsj div.element-icon.alm { background-image: url('/assets/images/smtsj/alm.png'); }
.smtsj div.element-icon.sup { background-image: url('/assets/images/smtsj/sup.png'); }
.smtsj div.element-icon.pas { background-image: url('/assets/images/smtsj/pas.png'); }
.smtsj div.element-icon.lif { background-image: url('/assets/images/smtsj/lif.png'); }
.smtsj div.element-icon.man { background-image: url('/assets/images/smtsj/man.png'); }
.smtsj div.element-icon.spe { background-image: url('/assets/images/smtsj/spe.png'); }
.smtsj div.element-icon.non { background-image: none }

.smtsj td.resists.wk { color: red; }
.smtsj td.resists.no { color: transparent; }
.smtsj td.resists.st { color: lightseagreen; }
.smtsj td.resists.nu { color: lightgray; }
.smtsj td.resists.rf { color: cyan; }
.smtsj td.resists.dr { color: lime; }

.smtsj tr.special td {
  background-color: darkgreen;
}

.smtsj tr.exception td {
  background-color: maroon;
}

.smtsj th {
  color: white;
  background-color: #200470;
}

.smtsj th.sortable:hover {
  background-color: #390DBD;
}

.smtsj th.nav {
  background-color: #0E0136;
}

.smtsj th.nav.active, .smtsj th.nav:hover {
  background-color: #200470;
}

.smtsj th.nav.active a, .smtsj th.nav:hover a {
  color: white;
}
