.smtsj div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.smtsj div.element-icon.phy { background-image: url('/assets/images/smtsj/phy.png'); }
.smtsj div.element-icon.gun { background-image: url('/assets/images/smtsj/gun.png'); }
.smtsj div.element-icon.fir { background-image: url('/assets/images/smtsj/fir.png'); }
.smtsj div.element-icon.ice { background-image: url('/assets/images/smtsj/ice.png'); }
.smtsj div.element-icon.ele { background-image: url('/assets/images/smtsj/ele.png'); }
.smtsj div.element-icon.win { background-image: url('/assets/images/smtsj/win.png'); }
.smtsj div.element-icon.exp { background-image: url('/assets/images/smtsj/exp.png'); }
.smtsj div.element-icon.cur { background-image: url('/assets/images/smtsj/cur.png'); }
.smtsj div.element-icon.ail { background-image: url('/assets/images/smtsj/ail.png'); }
.smtsj div.element-icon.rec { background-image: url('/assets/images/smtsj/rec.png'); }
.smtsj div.element-icon.alm { background-image: url('/assets/images/smtsj/alm.png'); }
.smtsj div.element-icon.sup { background-image: url('/assets/images/smtsj/sup.png'); }
.smtsj div.element-icon.pas { background-image: url('/assets/images/smtsj/pas.png'); }
.smtsj div.element-icon.lif { background-image: url('/assets/images/smtsj/lif.png'); }
.smtsj div.element-icon.man { background-image: url('/assets/images/smtsj/man.png'); }
.smtsj div.element-icon.spe { background-image: url('/assets/images/smtsj/spe.png'); }
.smtsj div.element-icon.non { background-image: none }

.smtsj th.title, .smtsj th.nav.active, .smtsj th.nav.active a {
  color: white;
  background-color: #200470;
}

.smtsj td.align.Light-Law,
.smtsj td.align.Neutral-Law,
.smtsj td.align.Dark-Law {
  color: cyan;
}

.smtsj td.align.Neutral-Law:after,
.smtsj td.align.Neutral-Neutral:after,
.smtsj td.align.Neutral-Chaos:after {
  content: ' ○';
}

.smtsj td.align.Light-Chaos,
.smtsj td.align.Neutral-Chaos,
.smtsj td.align.Dark-Chaos {
  color: tomato;
}