.desu2 div.element-icon {
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.desu2 div.element-icon.phys  { background-image: url('/assets/images/smtsj/phy.png'); }
.desu2 div.element-icon.fire  { background-image: url('/assets/images/smtsj/fir.png'); }
.desu2 div.element-icon.ice   { background-image: url('/assets/images/smtsj/ice.png'); }
.desu2 div.element-icon.elec  { background-image: url('/assets/images/smtsj/ele.png'); }
.desu2 div.element-icon.force { background-image: url('/assets/images/smtsj/win.png'); }
.desu2 div.element-icon.curse { background-image: url('/assets/images/smtsj/cur.png'); }
.desu2 div.element-icon.strike  { background-image: url('/assets/images/smtsj/phy.png'); }
.desu2 div.element-icon.almighty  { background-image: url('/assets/images/smtsj/alm.png'); }
.desu2 div.element-icon.recovery   { background-image: url('/assets/images/smtsj/rec.png'); }
.desu2 div.element-icon.support  { background-image: url('/assets/images/smtsj/sup.png'); }
.desu2 div.element-icon.passive { background-image: url('/assets/images/smtsj/pas.png'); }
.desu2 div.element-icon.auto { background-image: url('/assets/images/smtsj/spe.png'); }

.desu2 td.resists.wk { color: red; }
.desu2 td.resists.no { color: transparent; }
.desu2 td.resists.rs { color: lightseagreen; }
.desu2 td.resists.nu { color: lightgray; }
.desu2 td.resists.rp { color: cyan; }
.desu2 td.resists.dr { color: lime; }

.desu2 tr.special td {
  background-color: darkgreen;
}

.desu2 tr.exception td, .desu2 tr.unique td {
  background-color: maroon;
}

.desu2 thead th, .desu2 tfoot th {
  color: white;
  background-color: #0078e8;
}

.desu2 th.sortable:hover {
  background-color: #97ceff;
}

.desu2 th.nav {
  background-color: #00335f;
}

.desu2 th.nav.active, .desu2 th.nav:hover {
  background-color: #0078e8;
}

.desu2 th.nav.active a, .desu2 th.nav:hover a {
  color: white;
}
